<!-- Footer -->

<div class="footer">
    <div class="footer-content">
      <div class="footer-section about">

        <h1 class="logo-text"><span>mate</span>Blog</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam commodi neque repudiandae dolores officia cum quod facere nesciunt tenetur, quam rem vitae tempora sapiente placeat vero. Culpa repellendus aliquam mollitia.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; +54 9 11 2180 5256</span>
          <span><i class="fas fa-envelope"></i> &nbsp; <a href="mailto:blog@matelab.com.ar">blog@matelab.com.ar</a></span>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/MateLab.ok" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/matelabtech" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/matelab.ok" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://ar.linkedin.com/company/mate-lab" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://medium.com/@matelab" target="_blank"><i class="fab fa-medium"></i></a>
          <a href="https://www.youtube.com/channel/UCVeIN8OqiORP0dGXNMqpUPQ" target="_blank"><i class="fab fa-youtube"></i></a>
          <a href="https://github.com/matelab" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://gitlab.com/matelab" target="_blank"><i class="fab fa-gitlab"></i></a>
        </div>
      </div>
      <div class="footer-section links">
        <h2>Links Rapidos</h2>
        <br>
        <ul>
          <li><a href="#">Link vacio</a></li>
          <li><a href="#">Link vacio</a></li>
          <li><a href="#">Test Quick Link</a></li>
          <li><a href="#">Test Quick Link</a></li>
          <li><a href="#">Test Quick Link</a></li>
          <li><a href="#">Test Quick Link</a></li>
        </ul>
      </div>
      <div class="footer-section contact-form">
        <h2>Contactanos</h2>
        <br>
        <form action="index.html" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea rows="4" name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
          <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-envelope"></i>
            Enviar
          </button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      &copy; Matelab 2021 | Designed & Powered by <a href="https://matelab.com.ar" target="_blank">Matelab</a>
    </div>
  </div>

  <!-- End footer -->