/* Importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/* Body style setup */
* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
}

/* Header and Navbar setup */
header {
  background: #159e4a;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
  font-family: "Roboto", sans-serif;
}

header .logo-text {
  margin: 9px;
}

header .logo-text span {
  color: #7fffd4;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #006669;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

header ul li ul {
  position: absolute;
}
